* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
}
.header {
    background-image: url(img/bgimg.jpeg);
    width: 100%;
    height: 95vh;
    background-size: cover;
}

.navbar {
    margin-left: 150px;
    background-color: transparent;
    display: flex;
    margin: auto;
}
.logo {
    margin-left: 200px;
}
.btn{
    font-size: 20px;
    border-radius: 7px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    width: 110px;
    margin-top: 30px;
    border: 1px solid white;
}
.language {
    margin-left: 800px;
    background-color: rgba(23, 23, 23, 0.3);
}
.signin {
    background-color: #ff0404; 
    margin-left: 7px;    
}